{% extends 'instructor/instructor_basic_page.html' %}
{% block course_active %}active{% endblock %}

{% block body %}
<br>
<div class="container-fluid songs-container" style=" color: black ;font-family:sans-serif;font-size: 18px; padding-left : 5%">
    <p style="padding-left:1%;color:white;"> <a href="{% url 'instructor:instructor_index'  %}" style="color:white;">Home</a> > <a href="{% url 'instructor:instructor_detail' course.id  %}" style="color:white;">{{ course.code }} -  {{ course.name }}</a> > <a href="{% url 'instructor:add_resource' course.id %}" style="color:white;">Add Resource</a>
<br><br>
    <div class="row">

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default" style="background-color: #e3f0e8 ;border: 3px solid #ffffff; padding: 1%; border-radius: 10px; margin-top: 10% ; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">

                <div class="panel-body">
                    <center>
                        <a href="{% url 'instructor:instructor_detail' course.id %}">
                            {% if course.course_logo %}
                                <img src="{{ course.course_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <h3 align="center">{{ course.code }}</h3>
                        <div style="height: 60px">
                            <p align="center" style="font-size:22px; font-weight: bold;">{{ course.name }}</p>
                            <h4 align="center">Credits - {{ course.credits }}</h4>
                        </div>
                    </center>
                </div>
            </div>
        </div>

        <br><br><br>
        <div class="col-sm-6">


            <div class="panel-body"style="background-color: #ffffff ;color:black; border: 1px solid #white;font-family: Calibri; font-size:16px; border-radius:10px;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); width:1000px;">
                <h3 align="center"; style="text-align:center;font-family:sans-serif;font-size:40px;color: #728892; padding-bottom:2%;">Add Resources</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
           <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
        <label class="control-label col-sm-5">{{ field.label_tag }}</label>
        <div class="col-sm-5">{{ field }}</div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
                </div>
            </div>



    </div>

</div>


{% endblock %}



