{% extends 'instructor/instructor_basic_page.html' %}
{% block course_active %}active{% endblock %}


{% block body %}

<div class="albums-container container-fluid"style=" color: black ;font-family:sans-serif;font-size: 18px; padding-left : 10%">
    <p style="padding-left:1%"> <a href="#" style="color:white;">Home</a>
    <!-- Courses -->
    <div class="row col-sm-11">
        
        <div class="col-sm-12"style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font: size 20px;">
            <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:25px;color:white; margin-top: 2%;">YOUR COURSES:</h3>
        </div >
        {% if courses %}
            {% for course in courses %}
                <div  class="col-sm-3 col-lg-4" style="margin-top: 30px;" >
                    <div class="thumbnail" style="background-color: #e3f0e8 ;border: 3px solid #ffffff; padding: 1%; border-radius: 10px; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); height:400px; width:400px;">
                        <a href="{% url 'instructor:instructor_detail' course.id %}">
                            <center>
                            <img src="{{ course.course_logo.url }}" class="img-responsive" style="border-radius:10px; display: block; height: 200px; width: 380px;">                            
                            </center>
                        
                            <!--{{ course.name }}-->
                        </a>
                        <div class="caption" style="margin-top:0px ; padding: 0;">
                            <h3 align="center">{{ course.code }}</h3>
                            <div style="height: 60px">
                                <p align="center" style="font-size:18px; font-weight: bold;">{{ course.name }}</p>
                                <h4 align="center">Credits - {{ course.credits }}</h4>
                            </div>
                            <!-- View Details -->
                            <center>
                                <br>
            
                            <a href="{% url 'instructor:instructor_detail' course.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            </center>
                        </div>

                    </div>
                </div>
                
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <h4>Please wait for site admin to assign you a course.</h4>
            </div>
        {% endif %}
       
    </div>


{% endblock %}
